<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="\.png|\.css|\.jpg|\.js|\.woff|\.woff2" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="default.asp?controller={R:1}&amp;action={R:2}" logRewrittenUrl="true" />
                </rule>
                <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^([^/]+)/([^/]+)/?([^/]+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="\.png|\.css|\.jpg|\.js|\.woff|\.woff2" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="default.asp?controller={R:1}&amp;action={R:2}{R:3}" />
                </rule>
                <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			<add input="{REQUEST_URI}" pattern="\.png|\.css|\.jpg|\.js|\.woff|\.woff2" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="default.asp?controller={R:1}&amp;action=index" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
